keras~=3.0.5

# The below line specifies which PyTorch version to download.
# By default, CUDA 11.8 build is installed, but you can change `cu118` to:
# - `cpu` to get CPU-only (smaller) build,
# - `cu121` to get CUDA 12.1 build,
# - `rocm5.7` to get AMD ROCm 5.7 build.
--extra-index-url=https://download.pytorch.org/whl/cu118
torch~=2.2.0
torchaudio~=2.2.0
torchvision~=0.17.0
torchmetrics~=1.3.1
flashlight-text~=0.0.3

tensorboard~=2.16.2
transformers~=4.37.2
gymnasium~=1.0.0a1
pygame~=2.5.2
